.language-selector {
    display: inline-flex;
}

.language-flag {
    width: 30px;
    height: 19px;
    margin: 10px;
    -webkit-background-size: 30px 20px;
    background-size: 30px 20px;
}

.french {
    background-image: url("../image/fr-flag.png");
}
.english {
    background-image: url("../image/en-flag.png");
}